
#google_adsense{margin-top:6px;}
#google_adsense .ad_header{font-weight:normal;padding-bottom:0px;font-size:11px}
#google_adsense h6.ad_line1{margin:0 0 2px;padding:0;}
#google_adsense a.ad_line1,a.ad_line1:hover{color:#0000CC;font-size:12px;font-weight:bold;text-decoration:underline;}
#google_adsense .ad_text{color:#000000;font-size:11px;font-weight:normal;text-decoration:none}
#google_adsense a.ad_url{color:#9E9E9E;font-size:10px;font-weight:normal;text-decoration:none;margin-bottom:1px;}
#google_adsense .search_header{background:#eee;padding:4px;font-size:15px;font-weight:bold}
#google_adsense .wide_ads{background:#FFFFFF; padding:5px 0px 0px 0px;}
#google_adsense .narrow_ads{background:#FFFFFF; padding:10px}
#google_adsense{margin-bottom:5px;padding:7px 0px 2px 7px;font-family:Verdana,Tahoma,ArialCE,HelvaticaCE,Arial,Helvetica,sans-serif;border-color:#E0E0E0;border-width:1px;border-style:solid none;text-align:left;}
* html #google_adsense{height:100%;}
* + html #google_adsense{height:100%;}
#google_adsense .google_reklama{position:absolute;left:0;top:0;background-color:#FFFFFF;padding:0px 3px;}
* html #google_adsense .google_reklama{bottom:0px;}
#google_adsense a.reklamy {color:#E0E0E0;}