.body {color: #333333; font-size: 11px; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; }
.f		{color: #000000; font-size: 10px; background-color: #FFFFFF; font-family: MS Sans Serif, Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif}
.fb	{color: #000000; font-size: 24px; background-color: #FFFFFF; font-family: MS Sans Serif, Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif}
.fm	{color: #000000; font-size: 12px; background-color: #FFFFFF; font-family: Courier, Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif}
.hlbody 		{font-size: 10px;	font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; background-color: #f2f2f2}
.pic	{color: #808080; border-color: #808080 }
.a0	{font-size: 10px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a0b	{font-size: 10px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a1	{font-size: 11px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a1b	{font-size: 11px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a2	{font-size: 12px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a2b	{font-size: 12px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a3	{font-size: 13px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a3b	{font-size: 13px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a4	{font-size: 14px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a4b	{font-size: 14px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a5	{font-size: 15px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a5b	{font-size: 15px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a6	{font-size: 16px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a6b	{font-size: 16px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a7	{font-size: 17px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a7b	{font-size: 17px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a8	{font-size: 18px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a8b	{font-size: 18px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a9	{font-size: 19px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a9b	{font-size: 19px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a20	{font-size: 20px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a20b	{font-size: 20px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a22	{font-size: 22px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a22b	{font-size: 22px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a24	{font-size: 24px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.a24b	{font-size: 24px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }

.a2bwh{font-size: 12px;	font-weight: bold;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; color: #FFFFFF}
.ty	{font-size: 20px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }
.c		{color: #000000}
.pom	{color: #FF7926}
.mza	{color: #DB5300}
.sz1	{color: #333333}
.sz2	{color: #666666}
.cza	{color: #000000}
.n1	{color: #0A2476}
.a0m	{font-size: 8px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }

.ul {margin:0 0 0 15; list-style-image:"url('/_d/lay/bu.gif')" }
.li {margin-bottom:10px}

.gr			{color: #0A4C01; font-size: 11px; font-weight: bold; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif}
A.gr			{color: #0A4C01}
A.gr:active {color: #0A4C01}
A.gr:hover	{color: #0A4C01}

A.u			{color: #0000CC; text-decoration: underline}
A.u:active	{color: #0000CC; text-decoration: underline}
A.u:hover	{color: #0000CC; text-decoration: none}

A.uhlp			{color: #000000; text-decoration: underline}
A.uhlp:active	{color: #000000; text-decoration: underline}
A.uhlp:hover	{color: #000000; text-decoration: none}

A.nu			{color: #000000; text-decoration: none}
A.nu:active	{color: #FF6800; text-decoration: none}
A.nu:hover	{color: #FF6800; text-decoration: none}

.ar			{color: #FF0000; font-size: 12px; font-weight: bold; font-family: Verdana, Tahoma, ArialCE, HelveticaCE, Arial, Helvetica, sans-serif}
A.ar			{color: #FF0000}
A.ar:active	{color: #FF0000}
A.ar:hover	{color: #000000}

A.ty			{color: #003C78; text-decoration: none}
A.ty:active	{color: #FF6800; text-decoration: none}
A.ty:hover	{color: #FF6800; text-decoration: none}

A.ml			{color: #000000; text-decoration: underline}
A.ml:active	{color: #000000; text-decoration: underline}
A.ml:hover	{color: #FF6600; text-decoration: none}

A.mza			{color: #DB5300; text-decoration: none}
A.mza:active{color: #DB5300; text-decoration: none}
A.mza:hover	{color: #000000; text-decoration: none}

A.mzn			{color: #FFFFFF; text-decoration: none}
A.mzn:active{color: #FFFFFF; text-decoration: none}
A.mzn:hover	{color: #000000; text-decoration: none}

A.zn			{color: #000000; text-decoration: underline}
A.zn:active	{color: #000000; text-decoration: underline}
A.zn:hover	{color: #FF0000; text-decoration: none}

.mr0	{font-size: 10px;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; color: #333333 }
.mr2	{font-size: 12px;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; color: #333333 }
A.mr			{color: #333333}
A.mr:active	{color: #333333}
A.mr:hover	{color: #000000; text-decoration: none}

A				{color: #0000CC; text-decoration: underline}
A.				{color: #0000CC; text-decoration: underline}
A.:active	{color: #0000CC; text-decoration: underline}
A.:hover	{color: #0000CC; text-decoration: underline}

.nav	{color: #000000; font-size: 10px; font-family: Verdana, Tahoma, ArialCE, HelveticaCE, Arial, Helvetica, sans-serif; font-weight: normal}
A.nav				{color: #0000CC}
A.nav:active	{color: #FF0000}
A.nav:hover		{color: #FF0000}

.seek				{color: #000000; font-size: 10px; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif}
A.seek			{color: #000000; font-weight: bold; text-decoration: underline}
A.seek:active	{color: #000000; font-weight: bold; text-decoration: underline}
A.seek:hover	{color: #000000; font-weight: bold; text-decoration: underline}

.st			 {color: #000000; font-size: 11px; font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif}
A.st			 {color: #333333}
A.st:active  {color: #333333}
A.st:hover	 {color: #FF0000}

A.forumlink					{color: #0000CC}
A.forumlink:active		{color: #FF0000}
A.forumlink:hover			{color: #FF0000}

.mng			{color: #FFFFFF; font-size: 11px; font-weight: bold; font-family: Verdana, Tahoma, ArialCE, HelveticaCE, Arial, Helvetica, sans-serif}
A.mng			{color: #FFFFFF; text-decoration: none}
A.mng:active{color: #FFFFFF; text-decoration: none}
A.mng:hover	{color: #FF6600; text-decoration: none}

.mnga				{color: #000000; font-size: 13px; font-weight: bold; font-family: Verdana, Tahoma, ArialCE, HelveticaCE, Arial, Helvetica, sans-serif}
A.mnga			{color: #000000; text-decoration: none;}
A.mnga:active	{color: #000000; text-decoration: none;}
A.mnga:hover	{color: #FF6600; text-decoration: none;}

.rmf				{color: #EBEAE9; font-size: 11px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; }
A.rmf				{color: #EBEAE9; text-decoration: none;}
A.rmf:active	{color: #EBEAE9; text-decoration: none;}
A.rmf:hover		{color: #FFFFFF; text-decoration: none;}

.km				{color: #0A2476; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold}

.but1		{font-family:tahoma,sans-serif;	font-size:11px; background: #FFECA6;	border-bottom: 1px solid #104A7B;	border-right: 1px solid #104A7B;	border-left: 1px solid #AFC4D5;	border-top:1px solid #AFC4D5;		color:#003298;	text-decoration:none;	height:22px; width:60px;	cursor: hand;}
.ctxmenusel {font-size: 11px;  border: 1px #AEAEAE solid; background-color: #EBEBEB; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px}

PRE				{color: #000080;  margin-bottom: 0px; }
TT, CODE			{color: #000080;}
KBD				{color: green; }
ADDRESS			{text-align: right; }
ACRONYM			{border-bottom: 1px dotted #999; }

.tbc	{background-color: #000000;}
.thbc	{background-color: #D3DBF1;}
.tbbc	{background-color: #FDFDFD;}
.opis	{background-color: #E9E9E9;}
.dprc	{color: #656565; font-style: italic;}
.tbl_tb {background-color: #000000}
.tbl_tr {background-color: #E9E9E9;}
.tbl_td0 {font-size: 11px;	font-weight: normal;	font-family: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif }

.forumauthor { font-size: 7.5pt; font-weight: normal; }
.forumsubject {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
}
.forummediumsubject {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #000000;
	font-weight : bold;
}
.forumbigsubject { font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #000000; }
.menulink { font-size: 10pt; font-weight: normal;}
.forumtext { font-size: 11px; font-weight: normal; }
.forumbigtext { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; color: #000000; }
.forumlink { font-size: 7.5pt; }
.forumbody { font-size: 10pt; }
.forumcounter { font-size: 7.5pt; }
.forumlight { 	background-color : #f4f4f4; }
.g_100 {color:#003399; font-size:12px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration:none; width: 100px; height: 20px; background: #FFF2A5 url(../_d/ar.gif); background-repeat: no-repeat; background-position: right; border-color: #D6D6D6 #003399 #10387B #D6D6D6; border-style: solid; border-width: 1px; border-bottom-width: 2px;}

TD.yt {text-align:center;background-color:#F7EFE7;padding:3px;font-size:11px;font-weight:normal;font-family:Verdana,Tahoma,ArialCE,HelvaticaCE,Arial,Helvetica,sans-serif}
TD.yt0 {text-align:left;padding:0 0 0 10;background-color:#F7EFE7;font-size:10px;font-weight:normal;font-family:Verdana,Tahoma,ArialCE,HelvaticaCE,Arial,Helvetica,sans-serif}
TD.yt1 {text-align:left;padding:0 0 0 10;background-color:#F7EFE7;font-size:11px;font-weight:bold;font-family:Verdana,Tahoma,ArialCE,HelvaticaCE,Arial,Helvetica,sans-serif}
TABLE.ytab {align:center;border:0;border-spacing:1px;text-align:center;font-size:12px;font-weight:normal;font-family:Verdana,Tahoma,ArialCE,HelvaticaCE,Arial,Helvetica,sans-serif}

.but { width:67px;background-color:#FFFFFF;font-weight:bold;border-width:1 2 2 1;border-color:#000000;padding:1;font-size:11px;font-family: Verdana,Tahoma,ArialCE,HelvaticaCE,Arial,Helvetica,sans-serif }
H2	{padding:0 0 10 0;text-align:left;font-size:18px;font-weight:normal;font-family:Verdana,Tahoma,ArialCE,HelvaticaCE,Arial,Helvetica,sans-serif}
